*{
    margin: 0;
    padding: 0;
}
.clients{
    padding: 20px;
    flex: 1;
    transition: margin-left 0.3s ease;
    margin-left: 25px;
    margin-top: 50px;
}
.clients .formDivClients1{
    display: flex;
}
.clients .formDivClients2{
    display: flex;
}
.clients.expanded {
    margin-left: 0;
}
.clients h1{
    margin-left: 25px;
}
.clients div{
    padding: 6px;
    font-size: 18px;
    display: flex;
    width: auto;
}
.clients label{
    margin-right: 5px;
    width: 150px;
}
.clients input{
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    height: 28px;
}
.clients button{
    font-size: 16px;
    border-radius: 10px;
    height: 30px;
    width: 180px;
    background: #3f58d5;
    color: white;
    margin-left: 50px;
    border-style: none;
    box-shadow: 0 2px 2px black;
}
.clients button:hover{
    background: #6a77b8;
}